<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>id</key>
        <string>-1</string>
        <key>text</key>
        <string>選択してください</string>
    </dict>
    <dict>
        <key>id</key>
        <string>550</string>
        <key>text</key>
        <string>550cc</string>
    </dict>
    <dict>
        <key>id</key>
        <string>660</string>
        <key>text</key>
        <string>660cc</string>
    </dict>
    <dict>
        <key>id</key>
        <string>800</string>
        <key>text</key>
        <string>800cc</string>
    </dict>
    <dict>
        <key>id</key>
        <string>1000</string>
        <key>text</key>
        <string>1000cc</string>
    </dict>
    <dict>
        <key>id</key>
        <string>1100</string>
        <key>text</key>
        <string>1100cc</string>
    </dict>
    <dict>
        <key>id</key>
        <string>1200</string>
        <key>text</key>
        <string>1200cc</string>
    </dict>
    <dict>
        <key>id</key>
        <string>1300</string>
        <key>text</key>
        <string>1300cc</string>
    </dict>
    <dict>
        <key>id</key>
        <string>1400</string>
        <key>text</key>
        <string>1400cc</string>
    </dict>
    <dict>
        <key>id</key>
        <string>1500</string>
        <key>text</key>
        <string>1500cc</string>
    </dict>
    <dict>
        <key>id</key>
        <string>1600</string>
        <key>text</key>
        <string>1600cc</string>
    </dict>
    <dict>
        <key>id</key>
        <string>1700</string>
        <key>text</key>
        <string>1700cc</string>
    </dict>
    <dict>
        <key>id</key>
        <string>1800</string>
        <key>text</key>
        <string>1800cc</string>
    </dict>
    <dict>
        <key>id</key>
        <string>1900</string>
        <key>text</key>
        <string>1900cc</string>
    </dict>
    <dict>
        <key>id</key>
        <string>2000</string>
        <key>text</key>
        <string>2000cc</string>
    </dict>
    <dict>
        <key>id</key>
        <string>2100</string>
        <key>text</key>
        <string>2100cc</string>
    </dict>
    <dict>
        <key>id</key>
        <string>2200</string>
        <key>text</key>
        <string>2200cc</string>
    </dict>
    <dict>
        <key>id</key>
        <string>2300</string>
        <key>text</key>
        <string>2300cc</string>
    </dict>
    <dict>
        <key>id</key>
        <string>2400</string>
        <key>text</key>
        <string>2400cc</string>
    </dict>
    <dict>
        <key>id</key>
        <string>2500</string>
        <key>text</key>
        <string>2500cc</string>
    </dict>
    <dict>
        <key>id</key>
        <string>2600</string>
        <key>text</key>
        <string>2600cc</string>
    </dict>
    <dict>
        <key>id</key>
        <string>2700</string>
        <key>text</key>
        <string>2700cc</string>
    </dict>
    <dict>
        <key>id</key>
        <string>2800</string>
        <key>text</key>
        <string>2800cc</string>
    </dict>
    <dict>
        <key>id</key>
        <string>2900</string>
        <key>text</key>
        <string>2900cc</string>
    </dict>
    <dict>
        <key>id</key>
        <string>3000</string>
        <key>text</key>
        <string>3000cc</string>
    </dict>
    <dict>
        <key>id</key>
        <string>3500</string>
        <key>text</key>
        <string>3500cc</string>
    </dict>
    <dict>
        <key>id</key>
        <string>4000</string>
        <key>text</key>
        <string>4000cc</string>
    </dict>
    <dict>
        <key>id</key>
        <string>4500</string>
        <key>text</key>
        <string>4500cc</string>
    </dict>
    <dict>
        <key>id</key>
        <string>5500</string>
        <key>text</key>
        <string>5500cc</string>
    </dict>
    <dict>
        <key>id</key>
        <string>6000</string>
        <key>text</key>
        <string>6000cc</string>
    </dict>
</array>
</plist>
